.hero {
  max-width: 767px;
  max-height: 400px;
  background: #2f303a;
  text-align: center;
  background-position: 50% 50%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;

  // Mobile
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero_480.jpg");
  &__title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 30px;
  }
  // .hero-container {
  //   margin-top: 65px;
  //   margin-bottom: 118px;
  // }
}
.hero-container {
  margin-top: 65px;
  margin-bottom: 118px;
}
// dpr2 и 280px +
@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
  (min-resolution: 192dpi) and (min-width: 280px),
  (min-resolution: 2dppx) and (min-width: 280px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero_480@2x.jpg");
  }
}

// Tablet
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero_768.jpg");
  }
}
// 2x
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero_768@2x.jpg");
  }
}

// Desktop

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero_1600.jpg");
    &__title {
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
    }
  }
  .hero-container {
    margin-top: 0;
  }
}

// 2x
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero_1600@2x.jpg");
  }
}
