.button-nav {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
  & &-item:not(:last-child) {
    margin-right: 8px;
  }
}

.nav-button {
  color: var(--title-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background: var(--accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(61, 38, 38, 0.1);
  }
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  &-item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-item:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
  &-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  &-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
}

.border-list {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

/* --- Синий оверлей с текстом---- */

.work-thumd {
  position: relative;
  height: 294px;
  width: 370px;
  overflow: hidden;
}

.work-description {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 63px 24px;
  width: 100%;
  height: 294px;
  display: flex;
  align-items: center;

  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list-link:hover .work-description {
  transform: translateY(0);
  opacity: 1;
}
