.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;

  &--span {
    color: var(--accent-color);
  }
}
.futer-logo {
  display: block;
  color: var(--primary-white-color);
  text-decoration: none;
  margin-bottom: 20px;
}
