.contact-form {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin: 0 auto;
}

.form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  font-style: normal;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contact-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.contact-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    font-style: normal;
    font-weight: normal;
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.checkbox-label {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 12px;
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-checkbox:checked + & {
    border-color: transparent;
    background-color: var(--accent-color);
    background-image: url("../images/icon-check.svg");
    background-origin: border-box;
    background-size: contain;
    border: 0;
  }
  .modal-checkbox:focus + & {
    border-color: var(--accent-color);
  }
}

.conditions-link {
  color: var(--accent-color);
}

.submit-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}
