h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  color: var(--primary-text-color);
  font-family: var(--main-font);
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}
